<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
  
  <!-- <logger name="jdbc" level="OFF"/> -->
  <!--
  <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>  
  -->
  <!--
  <logger name="jdbc.resultsettable" level="DEBUG" additivity="false">> 
    <appender-ref ref="STDOUT" />
  </logger>  
  -->
        <Logger name="com.ean" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <logger name="java.sql.Connection" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.Statement" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>

          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="INFO" additivity="true">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="true">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
